<div style="width: 70%; margin: 0 auto;">


<p id="notice"><%= notice %></p>
<br><br><br>

<h1>Claims Forms</h1>

<div class="my-content"> 
    <div class="shadow-box-no-border">
        <hr/>
        <div class="d-flex justify-content-end">
            <!--<button class="btn btn-outline-primary">Download CSV  <i class="fa fa-download"></i></button>
            <button class="btn btn-outline-primary">Search  <i class="fa fa-search"></i></button>-->

            <%= link_to new_onesimus_test_path, class:"btn btn-outline-primary float-left" do %>
                <span class="glyphicon glyphicon-plus"></span>
                New Booking
            <% end %>
        </div>
    

        <div class="table-responsive">
        <hr/>
            <table class="table table-striped table-hover">
                <thead class="bg-light">
                <tr>
                  <th>Name of insured</th>
                <!--<th>Address</th>
                  <th>Occupation</th>--> 
                  <th>Telephone</th>
                  <th>Reg number</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Year of make</th>
                  <!--<th>Business private</th>
                  <th>Driver name</th>
                  <th>Driver address</th>
                  <th>Driver age</th>
                  <th>Driver telephone</th>
                  <th>Driving license no</th>
                  <th>Licence class</th>
                  <th>Date of issue</th>
                  <th>Convicted of motoring offence</th>-->
                  <th>Loss date</th>
                  <th>Time of loss</th>
                  <th>Accident location</th>
                  <!-- <th>Vehicle speed</th>
                  <th>Nature of loss</th>
                  <th>Accident desc</th>
                  <th>Report date</th>--> 
                  <th>Policy number</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @onesimus_tests.each_with_index do |onesimus_test, index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= onesimus_test.name_of_insured %></td>
                      <!--<td><%#= onesimus_test.address %></td>
                      <td><%#= onesimus_test.occupation %></td>-->
                      <td><%= onesimus_test.telephone %></td>
                      <td><%= onesimus_test.reg_number %></td>
                      <td><%= onesimus_test.make %></td>
                      <td><%= onesimus_test.model %></td>
                      <td><%= onesimus_test.year_of_make %></td>
                      <!-- <td><%#= onesimus_test.business_private %></td>
                      <td><%#= onesimus_test.driver_name %></td>
                      <td><%#= onesimus_test.driver_address %></td>
                      <td><%#= onesimus_test.driver_age %></td>
                      <td><%#= onesimus_test.driver_telephone %></td>
                      <td><%#= onesimus_test.driving_license_no %></td>
                      <td><%#= onesimus_test.licence_class %></td>
                      <td><%#= onesimus_test.date_of_issue %></td>
                      <td><%#= onesimus_test.convicted_of_motoring_offence %></td>-->
                      <td><%= onesimus_test.loss_date %></td>
                      <td><%= onesimus_test.time_of_loss %></td>
                        <!--<td><%#= onesimus_test.accident_location %></td>
                      <td><%#= onesimus_test.vehicle_speed %></td>
                      <td><%#= onesimus_test.nature_of_loss %></td>
                      <td><%#= onesimus_test.accident_desc %></td>
                      <td><%#= onesimus_test.report_date %></td>-->
                      <td><%= onesimus_test.policy_number %></td>
                      <td><%= link_to 'Show', onesimus_test, class:"btn btn-outline-dark" %></td>
                      <td><%= link_to 'Edit', edit_onesimus_test_path(onesimus_test), class:"btn btn-outline-primary"  %></td>
                      <td><%= link_to 'Destroy', onesimus_test, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"  %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

