<p id="notice"><%= notice %></p>

<p>
  <strong>Name of insured:</strong>
  <%= @onesimus_test.name_of_insured %>
</p>

<p>
  <strong>Address:</strong>
  <%= @onesimus_test.address %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @onesimus_test.occupation %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @onesimus_test.telephone %>
</p>

<p>
  <strong>Reg number:</strong>
  <%= @onesimus_test.reg_number %>
</p>

<p>
  <strong>Make:</strong>
  <%= @onesimus_test.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @onesimus_test.model %>
</p>

<p>
  <strong>Year of make:</strong>
  <%= @onesimus_test.year_of_make %>
</p>

<p>
  <strong>Business private:</strong>
  <%= @onesimus_test.business_private %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @onesimus_test.driver_name %>
</p>

<p>
  <strong>Driver address:</strong>
  <%= @onesimus_test.driver_address %>
</p>

<p>
  <strong>Driver age:</strong>
  <%= @onesimus_test.driver_age %>
</p>

<p>
  <strong>Driver telephone:</strong>
  <%= @onesimus_test.driver_telephone %>
</p>

<p>
  <strong>Driving license no:</strong>
  <%= @onesimus_test.driving_license_no %>
</p>

<p>
  <strong>Licence class:</strong>
  <%= @onesimus_test.licence_class %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @onesimus_test.date_of_issue %>
</p>

<p>
  <strong>Convicted of motoring offence:</strong>
  <%= @onesimus_test.convicted_of_motoring_offence %>
</p>

<p>
  <strong>Loss date:</strong>
  <%= @onesimus_test.loss_date %>
</p>

<p>
  <strong>Time of loss:</strong>
  <%= @onesimus_test.time_of_loss %>
</p>

<p>
  <strong>Accident location:</strong>
  <%= @onesimus_test.accident_location %>
</p>

<p>
  <strong>Vehicle speed:</strong>
  <%= @onesimus_test.vehicle_speed %>
</p>

<p>
  <strong>Nature of loss:</strong>
  <%= @onesimus_test.nature_of_loss %>
</p>

<p>
  <strong>Accident desc:</strong>
  <%= @onesimus_test.accident_desc %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @onesimus_test.report_date %>
</p>

<p>
  <strong>Policy number:</strong>
  <%= @onesimus_test.policy_number %>
</p>

<p>
  <strong></strong>
  <%= @onesimus_test.image %>
</p>

<%= link_to 'Edit', edit_onesimus_test_path(@onesimus_test) %> |
<%= link_to 'Back', onesimus_tests_path %>
