<%= simple_form_for(@gideon_test) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  
  <div class="row" style="width:50%; margin: 0 auto;">
    <div class="col-sm-6">
      <%= f.input :first_name, input_html:{id:"fname"} %>
      <%= f.input :last_name, input_html:{id:"lname"}  %>
      <%= f.input :dob, input_html:{id:"dob"} %>
      <%= f.input :nationality, input_html:{id:"nation"}  %>
      <%= f.input :phone_number, input_html:{id:"phone"} %>
      <%= f.input :email, input_html:{id:"email"}  %>
      <%= f.input :id_type, input_html:{id:"idtype"}  %>
    </div>
    <div class="col-sm-6">
      <%= f.input :id_number, input_html:{id:"idnum"}  %>
      <%= f.input :home_address , input_html:{id:"addy"} %>
      <%= f.input :second_address, input_html:{id:"addy2"}  %>
      <%= f.input :occupation, input_html:{id:"work"} %>
      <%= f.input :gender, input_html:{id:"gender" } %>  
      <%= f.input :new_email, input_html:{id:"nemail"}  %>
      <%= f.input :new_password, input_html:{id:"npwd"}  %>
    </div>

    <div class="row" style="margin-top:40px;">
      <div>
        <%= link_to 'Back', gideon_tests_path, class:"btn btn-md btn-outline-dark" %>
        <%= f.button :submit, class:"btn btn-md btn-primary"  %>
      </div>
    </div>
  </div>
<% end %>

