<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @gideon_test.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @gideon_test.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @gideon_test.dob %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @gideon_test.nationality %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @gideon_test.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gideon_test.email %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @gideon_test.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @gideon_test.id_number %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @gideon_test.home_address %>
</p>

<p>
  <strong>Second address:</strong>
  <%= @gideon_test.second_address %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @gideon_test.occupation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @gideon_test.gender %>
</p>

<%= link_to 'Edit', edit_gideon_test_path(@gideon_test) %> |
<%= link_to 'Back', gideon_tests_path %>
